<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
    <div th:include="~{fragmentos/head}"><!-- menu de estilização --></div>
</head>
<body>
    <div th:insert="~{fragmentos/headerAdm :: header}"><!-- barra de menu --></div>
    <div class="container">
    <h1>Lista de Alunos</h1>
    <table>
        <thead>
            <tr>
                <th>CPF</th>
                <th>Nome</th>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${alunos}">
                <td th:text="${aluno.cpf}"></td>
                <td th:text="${aluno.nome}"></td>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </tbody>
    </table>
    <a href="/interna-create-alunos">Clicar Aqui</a>
</body>
</html>
