<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
</head>
<body>
    <h1>Lista de Alunos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>CPF</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Data de Nascimento</th>
                <th>Disciplina 1</th>
                <th>Disciplina 2</th>
                <th>Disciplina 3</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${alunos}">
                <td th:text="${aluno.cpf}"></td>
                <td th:text="${aluno.nome}"></td>
                <td th:text="${aluno.email}"></td>
                <td th:text="${aluno.dataNascimento}"></td>
                <td th:text="${aluno.disciplina1}"></td>
                <td th:text="${aluno.disciplina2}"></td>
                <td th:text="${aluno.disciplina3}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
