<header>
    <h1>Escola RECEBA</h1>
    <nav>
        <a href="/home"><i class="fas fa-home"></i>Home</a>
        <a href="/sobre"><i class="fas fa-school"></i>Sobre</a>
        <a href="/contato"><i class="fas fa-phone-alt"></i>Contato</a>
        <div class="acesso">
            <a href="/login-aluno"><i class="fas fa-user-graduate"></i> Alunos</a>
            <a href="/login-professor"><i class="fas fa-chalkboard-teacher"></i> Professores</a>
            <a href="/login-adm"><i class="fas fa-user-tie"></i> Administradores</a>
        </div>
    </nav>
</header>
